body {
    background-color: yellow !important;
    text-align: center;
    margin: 0 ;
    position: relative;
}
.image-top-right {
    position: absolute; 
    top: 0; 
    right: 0; 
    max-width: 100%; 
    height: auto; 
}
.image-top-left {
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 30%; 
    height: auto; 
}

h1 {
    color: red;
}

p {
    color: blue;
    font-size: 35px;
        
}